@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scrolltop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-200px * 3));
    }
  }
  .slider {
    background: white;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slideTrack {
    animation: scroll 40s linear infinite;
    display: flex;
    width: 100%;
  }
  
  .slide {
    height: 100%;
    width: 100%;
  }
  .slideTop {
    animation: scrolltop 40s linear infinite;
  }
  @media screen and (max-width:1023px) {
    .slideOnMobile{
      animation: scroll 40s linear infinite;
      display: flex;
      width: 100%;
    }
  }